/* .enca {
  color: #56018f;
  font-size: 2.25em;
  text-align: center;
  background-color: rgba(116, 101, 116, 0.993);
}
.datosAlum {
  margin-top: 1em;
  text-align: center;
  color: #56018f;
  font-weight: bolder;
  background-color: rgba(116, 101, 116, 0.993);
}
.getDatos {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bolder;
  color: #c53bbe;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.full{
  width: 100%;
} */
